In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('https://raw.githubusercontent.com/ataislucky/Data-Science/main/dataset/food_delivery.txt')

In [3]:
df.head()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Type_of_order,Type_of_vehicle,Time_taken(min)
0,4607,INDORES13DEL02,37,4.9,22.745049,75.892471,22.765049,75.912471,Snack,motorcycle,24
1,B379,BANGRES18DEL02,34,4.5,12.913041,77.683237,13.043041,77.813237,Snack,scooter,33
2,5D6D,BANGRES19DEL01,23,4.4,12.914264,77.678400,12.924264,77.688400,Drinks,motorcycle,26
3,7A6A,COIMBRES13DEL02,38,4.7,11.003669,76.976494,11.053669,77.026494,Buffet,motorcycle,21
4,70A2,CHENRES12DEL01,32,4.6,12.972793,80.249982,13.012793,80.289982,Snack,scooter,30

In [6]:
min(df['Delivery_person_Ratings'])

1.0

In [7]:
df['Type_of_order'].head()

0     Snack
1     Snack
2    Drinks
3    Buffet
4     Snack
Name: Type_of_order, dtype: object

In [9]:
len(df['Delivery_person_ID'].unique())

1320

In [10]:
df.shape

(45593, 11)

In [13]:
doument link:https://www.analyticsvidhya.com/blog/2023/04/food-delivery-time-prediction-with-lstm-neural-network/#Objectives_of_Food_Delivery_Time_Prediction

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (3028043366.py, line 1)